<?xml version="1.0" encoding="UTF-8"?>
<root>
  <ProductSettings>
    <ProductInstallationDate>1543170972</ProductInstallationDate>
    <ProductUpgradeDate>0</ProductUpgradeDate>
    <StartWithUser>root</StartWithUser>
    <StartWithGroup>default</StartWithGroup>
    <UpdateFolder>/var/opt/kaspersky/kav4fs/update</UpdateFolder>
    <AVBasesFolderName>avbases</AVBasesFolderName>
    <AVBasesBackupFolderName>avbases-backup</AVBasesBackupFolderName>
    <SambaConfigPath>/etc/samba/smb.conf</SambaConfigPath>
    <NfsExportPath>/etc/exports</NfsExportPath>
    <TempFolder>/tmp</TempFolder>
    <TraceEnable>yes</TraceEnable>
    <TraceFolder>/var/log/kaspersky/kav4fs</TraceFolder>
    <TraceLevel>Error</TraceLevel>
    <TraceDestination>Product</TraceDestination>
    <MaxFilenameLength>16384</MaxFilenameLength>
    <BlockFilesGreaterMaxFilename>yes</BlockFilesGreaterMaxFilename>
  </ProductSettings>
  <EventManagerSettings>
    <SubscriptionFolder>/var/opt/kaspersky/kav4fs/db/em_data</SubscriptionFolder>
  </EventManagerSettings>
  <AVSSettings/>
  <QuarantineSettings>
    <QuarantineFolder>/var/opt/kaspersky/kav4fs/quarantine</QuarantineFolder>
    <QuarantineSizeLimit>1073741824</QuarantineSizeLimit>
    <QuarantineSoftSizeLimit>858993459</QuarantineSoftSizeLimit>
  </QuarantineSettings>
  <StatisticsSettings>
    <StatisticsFolder>/var/opt/kaspersky/kav4fs/db/statistics</StatisticsFolder>
  </StatisticsSettings>
  <LicenseSettings>
    <DbName>/var/opt/kaspersky/kav4fs/db/license.db</DbName>
  </LicenseSettings>
  <UpdateData>
    <UpdateData.element>
      <UpdateSettings>
        <UpdateType>AllBases</UpdateType>
        <CommonSettings>
          <SourceType>KLServers</SourceType>
          <CustomSources/>
          <UseKLServersWhenUnavailable>yes</UseKLServersWhenUnavailable>
          <UseProxyForKLServers>no</UseProxyForKLServers>
          <UseProxyForCustomSources>no</UseProxyForCustomSources>
          <PreferredCountry/>
          <ProxyServer/>
          <ProxyPort>3128</ProxyPort>
          <ProxyBypassLocalAddresses>yes</ProxyBypassLocalAddresses>
          <ProxyAuthType>NotRequired</ProxyAuthType>
          <ProxyAuthUser/>
          <ProxyAuthPassword/>
          <UseFtpPassiveMode>yes</UseFtpPassiveMode>
          <ConnectionTimeout>10</ConnectionTimeout>
        </CommonSettings>
        <UpdateComponentsSettings>
          <Action>DownloadAndApply</Action>
        </UpdateComponentsSettings>
        <RetranslateUpdatesSettings>
          <RetranslationFolder/>
          <RetranslationComponents/>
        </RetranslateUpdatesSettings>
      </UpdateSettings>
      <UpdateSchedule>
        <RuleType>Manual</RuleType>
        <StartTime>
          <Year>0</Year>
          <Month>Unknown</Month>
          <Day>0</Day>
          <Hour>0</Hour>
          <Min>0</Min>
          <Sec>0</Sec>
          <DayOfMonth>0</DayOfMonth>
          <DayOfWeek>Unknown</DayOfWeek>
          <TimePeriod>0</TimePeriod>
        </StartTime>
        <RandomInterval>0</RandomInterval>
        <ExecuteTimeLimit>0</ExecuteTimeLimit>
        <RunMissedStartRules>no</RunMissedStartRules>
      </UpdateSchedule>
      <ScheduleExist>no</ScheduleExist>
      <TaskId>6</TaskId>
      <TaskName>Update</TaskName>
    </UpdateData.element>
  </UpdateData>
  <OASData>
    <OASSettings>
      <ScanScope>
        <ScanScope.element>
          <UseScanArea>yes</UseScanArea>
          <AreaPath>
            <Path>/</Path>
            <FSType>Local</FSType>
            <FSName>any</FSName>
          </AreaPath>
          <AreaMask>
            <AreaMask.element>*</AreaMask.element>
          </AreaMask>
          <UseAccessUser>no</UseAccessUser>
          <AccessUser>
            <UserName/>
            <UserGroup/>
          </AccessUser>
          <AreaDesc>All objects</AreaDesc>
          <ScanSettings>
            <ScanArchived>no</ScanArchived>
            <ScanSfxArchived>no</ScanSfxArchived>
            <ScanMailBases>no</ScanMailBases>
            <ScanPlainMail>no</ScanPlainMail>
            <ScanPacked>yes</ScanPacked>
            <UseTimeLimit>yes</UseTimeLimit>
            <TimeLimit>60</TimeLimit>
            <UseSizeLimit>no</UseSizeLimit>
            <SizeLimit>0</SizeLimit>
            <ScanByAccessType>SmartCheck</ScanByAccessType>
            <InfectedFirstAction>Recommended</InfectedFirstAction>
            <InfectedSecondAction>Skip</InfectedSecondAction>
            <SuspiciousFirstAction>Recommended</SuspiciousFirstAction>
            <SuspiciousSecondAction>Skip</SuspiciousSecondAction>
            <UseAdvancedActions>yes</UseAdvancedActions>
            <AdvancedActions>
              <AdvancedActions.element>
                <Verdict>Riskware</Verdict>
                <FirstAction>Skip</FirstAction>
                <SecondAction>Skip</SecondAction>
              </AdvancedActions.element>
            </AdvancedActions>
            <UseExcludeMasks>no</UseExcludeMasks>
            <ExcludeMasks/>
            <UseExcludeThreats>no</UseExcludeThreats>
            <ExcludeThreats/>
            <ReportCleanObjects>no</ReportCleanObjects>
            <ReportPackedObjects>no</ReportPackedObjects>
            <UseAnalyzer>yes</UseAnalyzer>
            <HeuristicLevel>Recommended</HeuristicLevel>
            <KeepLastAccess>no</KeepLastAccess>
          </ScanSettings>
        </ScanScope.element>
      </ScanScope>
      <ExcludedFromScanScope/>
      <ProtectionType>Full</ProtectionType>
      <TotalScanners>4</TotalScanners>
      <MountBinaries>
        <MountBinaries.element>*mount*</MountBinaries.element>
      </MountBinaries>
    </OASSettings>
    <OASSchedule>
      <RuleType>PS</RuleType>
      <StartTime>
        <Year>0</Year>
        <Month>Unknown</Month>
        <Day>0</Day>
        <Hour>0</Hour>
        <Min>0</Min>
        <Sec>0</Sec>
        <DayOfMonth>0</DayOfMonth>
        <DayOfWeek>Unknown</DayOfWeek>
        <TimePeriod>0</TimePeriod>
      </StartTime>
      <RandomInterval>0</RandomInterval>
      <ExecuteTimeLimit>0</ExecuteTimeLimit>
      <RunMissedStartRules>no</RunMissedStartRules>
    </OASSchedule>
    <ScheduleExist>yes</ScheduleExist>
  </OASData>
  <ODSData>
    <ODSData.element>
      <ODSSettings>
        <ScanScope>
          <ScanScope.element>
            <UseScanArea>yes</UseScanArea>
            <AreaPath>
              <Path>/malware</Path>
              <FSType>Local</FSType>
              <FSName>any</FSName>
            </AreaPath>
            <AreaMask>
              <AreaMask.element>*</AreaMask.element>
            </AreaMask>
            <AreaDesc>All objects</AreaDesc>
            <ScanSettings>
              <ScanArchived>yes</ScanArchived>
              <ScanSfxArchived>yes</ScanSfxArchived>
              <ScanMailBases>no</ScanMailBases>
              <ScanPlainMail>no</ScanPlainMail>
              <ScanPacked>yes</ScanPacked>
              <UseTimeLimit>no</UseTimeLimit>
              <TimeLimit>120</TimeLimit>
              <UseSizeLimit>no</UseSizeLimit>
              <SizeLimit>0</SizeLimit>
              <InfectedFirstAction>Recommended</InfectedFirstAction>
              <InfectedSecondAction>Skip</InfectedSecondAction>
              <SuspiciousFirstAction>Recommended</SuspiciousFirstAction>
              <SuspiciousSecondAction>Skip</SuspiciousSecondAction>
              <UseAdvancedActions>yes</UseAdvancedActions>
              <AdvancedActions>
                <AdvancedActions.element>
                  <Verdict>Riskware</Verdict>
                  <FirstAction>Skip</FirstAction>
                  <SecondAction>Skip</SecondAction>
                </AdvancedActions.element>
              </AdvancedActions>
              <UseExcludeMasks>no</UseExcludeMasks>
              <ExcludeMasks/>
              <UseExcludeThreats>no</UseExcludeThreats>
              <ExcludeThreats/>
              <ReportCleanObjects>no</ReportCleanObjects>
              <ReportPackedObjects>no</ReportPackedObjects>
              <UseAnalyzer>yes</UseAnalyzer>
              <HeuristicLevel>Recommended</HeuristicLevel>
              <KeepLastAccess>no</KeepLastAccess>
            </ScanSettings>
          </ScanScope.element>
        </ScanScope>
        <ExcludedFromScanScope/>
        <ScanPriority>System</ScanPriority>
      </ODSSettings>
      <ODSSchedule>
        <RuleType>Manual</RuleType>
        <StartTime>
          <Year>0</Year>
          <Month>Unknown</Month>
          <Day>0</Day>
          <Hour>0</Hour>
          <Min>0</Min>
          <Sec>0</Sec>
          <DayOfMonth>0</DayOfMonth>
          <DayOfWeek>Unknown</DayOfWeek>
          <TimePeriod>0</TimePeriod>
        </StartTime>
        <RandomInterval>0</RandomInterval>
        <ExecuteTimeLimit>0</ExecuteTimeLimit>
        <RunMissedStartRules>no</RunMissedStartRules>
      </ODSSchedule>
      <ScheduleExist>no</ScheduleExist>
      <TaskId>9</TaskId>
      <TaskName>On-demand scan</TaskName>
    </ODSData.element>
    <ODSData.element>
      <ODSSettings>
        <ScanScope>
          <ScanScope.element>
            <UseScanArea>yes</UseScanArea>
            <AreaPath>
              <Path/>
              <FSType>AllShared</FSType>
              <FSName>any</FSName>
            </AreaPath>
            <AreaMask>
              <AreaMask.element>*</AreaMask.element>
            </AreaMask>
            <AreaDesc>All shared objects</AreaDesc>
            <ScanSettings>
              <ScanArchived>yes</ScanArchived>
              <ScanSfxArchived>yes</ScanSfxArchived>
              <ScanMailBases>no</ScanMailBases>
              <ScanPlainMail>no</ScanPlainMail>
              <ScanPacked>yes</ScanPacked>
              <UseTimeLimit>no</UseTimeLimit>
              <TimeLimit>120</TimeLimit>
              <UseSizeLimit>no</UseSizeLimit>
              <SizeLimit>0</SizeLimit>
              <InfectedFirstAction>Recommended</InfectedFirstAction>
              <InfectedSecondAction>Skip</InfectedSecondAction>
              <SuspiciousFirstAction>Recommended</SuspiciousFirstAction>
              <SuspiciousSecondAction>Skip</SuspiciousSecondAction>
              <UseAdvancedActions>yes</UseAdvancedActions>
              <AdvancedActions>
                <AdvancedActions.element>
                  <Verdict>Riskware</Verdict>
                  <FirstAction>Skip</FirstAction>
                  <SecondAction>Skip</SecondAction>
                </AdvancedActions.element>
              </AdvancedActions>
              <UseExcludeMasks>no</UseExcludeMasks>
              <ExcludeMasks/>
              <UseExcludeThreats>no</UseExcludeThreats>
              <ExcludeThreats/>
              <ReportCleanObjects>no</ReportCleanObjects>
              <ReportPackedObjects>no</ReportPackedObjects>
              <UseAnalyzer>yes</UseAnalyzer>
              <HeuristicLevel>Recommended</HeuristicLevel>
              <KeepLastAccess>no</KeepLastAccess>
            </ScanSettings>
          </ScanScope.element>
        </ScanScope>
        <ExcludedFromScanScope/>
        <ScanPriority>System</ScanPriority>
      </ODSSettings>
      <ODSSchedule>
        <RuleType>Manual</RuleType>
        <StartTime>
          <Year>0</Year>
          <Month>Unknown</Month>
          <Day>0</Day>
          <Hour>0</Hour>
          <Min>0</Min>
          <Sec>0</Sec>
          <DayOfMonth>0</DayOfMonth>
          <DayOfWeek>Unknown</DayOfWeek>
          <TimePeriod>0</TimePeriod>
        </StartTime>
        <RandomInterval>0</RandomInterval>
        <ExecuteTimeLimit>0</ExecuteTimeLimit>
        <RunMissedStartRules>no</RunMissedStartRules>
      </ODSSchedule>
      <ScheduleExist>no</ScheduleExist>
      <TaskId>13</TaskId>
      <TaskName>On-demand scan all shared objects</TaskName>
    </ODSData.element>
  </ODSData>
  <QSData>
    <QSSettings/>
    <QSSchedule>
      <RuleType>BR</RuleType>
      <StartTime>
        <Year>0</Year>
        <Month>Unknown</Month>
        <Day>0</Day>
        <Hour>0</Hour>
        <Min>0</Min>
        <Sec>0</Sec>
        <DayOfMonth>0</DayOfMonth>
        <DayOfWeek>Unknown</DayOfWeek>
        <TimePeriod>0</TimePeriod>
      </StartTime>
      <RandomInterval>0</RandomInterval>
      <ExecuteTimeLimit>0</ExecuteTimeLimit>
      <RunMissedStartRules>no</RunMissedStartRules>
    </QSSchedule>
    <ScheduleExist>yes</ScheduleExist>
  </QSData>
  <EventStorageSettings>
    <EventStorageFolder>/var/opt/kaspersky/kav4fs/db/event_storage</EventStorageFolder>
    <RotateMoveFolder/>
    <RotateMethod>Erase</RotateMethod>
    <RotatePeriod>Never</RotatePeriod>
    <EventStorageMaxSize>1073741824</EventStorageMaxSize>
  </EventStorageSettings>
  <NotifierSettings>
    <CommonSmtpSettings>
      <Sender/>
      <DefaultRecipients/>
      <Mailer>Internal</Mailer>
      <InternalMailerSettings>
        <SmtpServer/>
        <SmtpPort>25</SmtpPort>
        <SmtpQueueFolder>/var/opt/kaspersky/kav4fs/db/notifier</SmtpQueueFolder>
        <ConnectionTimeout>10</ConnectionTimeout>
      </InternalMailerSettings>
      <SendmailPath>/usr/sbin/sendmail -t -i</SendmailPath>
    </CommonSmtpSettings>
    <EnableSmtp>no</EnableSmtp>
    <SmtpNotifies/>
    <EnableActions>no</EnableActions>
    <Actions/>
  </NotifierSettings>
  <SnmpSettings>
    <PingInterval>15</PingInterval>
    <MasterAgentXAddress>tcp:localhost:705</MasterAgentXAddress>
    <TrapsEnable>no</TrapsEnable>
    <TrapSuite>
      <AVBasesAppliedEventEnable>yes</AVBasesAppliedEventEnable>
      <AVBasesAreOutOfDateEventEnable>yes</AVBasesAreOutOfDateEventEnable>
      <AVBasesAreTotallyOutOfDateEventEnable>yes</AVBasesAreTotallyOutOfDateEventEnable>
      <AVBasesAttachedEventEnable>yes</AVBasesAttachedEventEnable>
      <AVBasesIntegrityCheckFailedEventEnable>yes</AVBasesIntegrityCheckFailedEventEnable>
      <AVBasesRollbackCompletedEventEnable>yes</AVBasesRollbackCompletedEventEnable>
      <AVBasesRollbackErrorEventEnable>yes</AVBasesRollbackErrorEventEnable>
      <ApplicationSettingsChangedEventEnable>yes</ApplicationSettingsChangedEventEnable>
      <ApplicationStartedEventEnable>yes</ApplicationStartedEventEnable>
      <LicenseErrorEventEnable>yes</LicenseErrorEventEnable>
      <LicenseExpiredEventEnable>yes</LicenseExpiredEventEnable>
      <LicenseExpiresSoonEventEnable>yes</LicenseExpiresSoonEventEnable>
      <LicenseInstalledEventEnable>yes</LicenseInstalledEventEnable>
      <LicenseNotInstalledEventEnable>yes</LicenseNotInstalledEventEnable>
      <LicenseNotRevokedEventEnable>yes</LicenseNotRevokedEventEnable>
      <LicenseRevokedEventEnable>yes</LicenseRevokedEventEnable>
      <ModuleNotDownloadedEventEnable>yes</ModuleNotDownloadedEventEnable>
      <NothingToUpdateEventEnable>yes</NothingToUpdateEventEnable>
      <ObjectDeletedEventEnable>yes</ObjectDeletedEventEnable>
      <ObjectDisinfectedEventEnable>yes</ObjectDisinfectedEventEnable>
      <ObjectSavedToQuarantineEventEnable>yes</ObjectSavedToQuarantineEventEnable>
      <ObjectSavedToBackupEventEnable>yes</ObjectSavedToBackupEventEnable>
      <RetranslationErrorEventEnable>yes</RetranslationErrorEventEnable>
      <TaskStateChangedEventEnable>yes</TaskStateChangedEventEnable>
      <ThreatDetectedEventEnable>yes</ThreatDetectedEventEnable>
      <UpdateErrorEventEnable>yes</UpdateErrorEventEnable>
    </TrapSuite>
  </SnmpSettings>
  <RollbackSettings/>
</root>
